@media screen and (max-width: 1400px) {
  /** TIENDA **/
  .catalogo div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /** INDEX **/
  .favoritos {
    box-sizing: content-box;
    width: 100%;
    height: calc(100vh - 90px);
  }
  .favoritos h1 {
    padding: 0px 0px 0px;
  }
  .favoritos h2 {
    font-size: 23px;
  }
  .favoritos div {
    box-sizing: content-box;
    padding: 20px 5px 20px 5px;
    width: 270px;
    height: 300px;
    margin: 8px;
  }

  .favoritos div img {
    width: auto;
    height: 180px;
  }

  .favoritos div h3 {
    font-size: 24px;
  }
  .promos img {
    width: 600px;
    height: auto;
  }
}

@media screen and (max-width: 1107px) {
  .favoritos a {
    width: 150px;
  }
  .carrusel .seccioncarrusel div p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .favoritos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }

  .favoritos a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .favoritos h1 {
    font-size: 30px;
  }

  .favoritos h2 {
    font-size: 25px;
  }

  .favoritos div {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .favoritos div img {
    width: auto;
    height: 150px;
    margin: auto;
  }

  .favoritos div h3 {
    font-size: 20px;
  }

  .terceraimg {
    display: none;
  }

  .favoritos div {
    width: 260px;
    height: 300px;
    margin: 8px;
  }

  .promos img {
    width: 570px;
    height: auto;
  }

  .seccioncarrusel div p {
    padding: 5px 0px 0px 20px;
    font-size: large;
  }

  /*nuestro menu*/
  .section3 div img {
    width: auto;
    height: 160px;
  }

  .section3 h3 {
    font-size: 25px;
  }

  .section3 div button {
    padding: 6px 20px 6px 20px;
  }
}

@media screen and (max-width: 1011px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .footer div {
    display: inline-block;
  }
  /** SOBRE NOSOTROS **/
  .sectionmapa div p {
    margin: 0px 16px 0px 16px;
  }
  .sectionmapa iframe {
    height: 300px;
  }
}

@media screen and (max-width: 973px) {
  /** INDEX **/
  .promos img {
    width: 480px;
    height: auto;
  }
  .carrusel .seccioncarrusel div p {
    font-size: 17px;
  }

  /**SOBRE NOSOTROS**/
  .nosotrosintro {
    width: auto;
    height: 350px;
  }
  .sectionmapa {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
  }

  .sectionmapa div p {
    margin: 10px 10px 20px 10px;
  }
  .sectionmapa div {
    width: 75%;
  }
}

@media screen and (max-width: 837px) {
  .favoritos {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .favoritos div {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
  }

  .favoritos div button {
    padding: 3px 10px 3px 10px;
  }

  .favoritos a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
  }

  .promos div {
    margin-right: 10px;
  }

  .seccioncarrusel div p {
    font-size: 14px;
  }
  .carrusel .seccioncarrusel div img {
    width: 40px;
    height: auto;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .footer div {
    display: inline-block;
  }

  /*NUESTRO MENU*/
  .section2 div img {
    width: 600px;
  }

  .section4 div img {
    width: 470px;
  }
  /** CONTACTO **/
  .sectionco {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .imgcontacto img {
    margin: 20px;
  }
  .formulariocontacto {
    margin: 20px;
    padding: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 772px) {
  .container ul {
    display: flex;
    flex-direction: column;
  }

  .favoritos a {
    font-size: 12px;
    width: 140px;
  }

  .favoritos div button {
    font-size: 14px;
  }

  .promos div {
    width: 100%;
  }
  footer iframe {
    width: 100%;
    height: auto;
  }
  /*nuestro menu*/
  .section4 div img {
    width: 350px;
  }

  .section3 div img {
    width: auto;
    height: 130px;
  }

  .cafetransparente {
    height: 120px;
    width: auto;
  }

  .section2 div img {
    width: 480px;
  }
  /** SOBRE NOSOTROS **/
  .nosotrosintro {
    width: auto;
    height: 330px;
  }
  .nosotrosintro p {
    font-size: 18px;
  }
}

@media screen and (max-width: 753px) {
  .promos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
  }
  .carrusel .seccioncarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .seccioncarrusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 688px) {
  /** INDEX **/
  .carrusel .seccioncarrusel div p {
    font-size: 15px;
  }

  /** CONTACTO **/
  .sectionco {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .imgcontacto img {
    width: 200px;
    height: auto;
    margin: 20px;
  }
  .formulariocontacto {
    width: 100%;
    margin: 0px 20px 0px 20px;
  }

  /** SOBRE NOSOTROS **/
  .sectionmapa div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .sectionmapa div iframe {
    margin-left: 0px;
  }
  /** TIENDA **/
  .sectiontienda div img {
    display: none;
  }
  .sectiontienda {
    background-image: url(../img/modelocaja.png);
    height: 220px;
  }
  .tiendatexto {
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  /** INDEX **/
  .favoritos a {
    font-size: 12px;
    width: 140px;
    font-weight: 700;
  }

  .promos img {
    width: 100%;
    height: auto;
  }

  .carrusel .seccioncarrusel div img {
    width: 30px;
    height: auto;
  }
  /** NUESTRO MENU **/
  .section1 {
    display: flex;
    flex-direction: column;
  }

  .section2 div img {
    display: none;
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .section3 div {
    margin: 5px 0px 10px 0px;
  }

  .section3 div h3 {
    font-size: 20px;
  }

  .section3 div img {
    width: auto;
    height: 120px;
  }

  .section4 {
    display: flex;
    flex-direction: column;
  }

  .section4 div img {
    width: 270px;
  }

  /** CONTACTO **/
  .imgcontacto img {
    display: none;
  }

  /** SOBRE NOSOTROS **/
  .nosotrosintro {
    width: auto;
    height: 280px;
  }
  .nosotrosintro p {
    font-size: 17px;
    font-weight: 600;
    margin: 0px 15px;
  }
  .sectionmapa div {
    width: 100%;
  }
  .sectionmapa div p {
    font-size: 16px;
    padding: 0px 5px 0px 5px;
  }
  .sectionmapa div iframe {
    height: 290px;
    width: auto;
  }
}

@media screen and (max-width: 393px) {
  /** INDEX **/
  .promos h2 {
    font-size: 22px;
    font-weight: 800;
  }

  .promos div {
    width: 100%;
  }

  .carrusel h2 {
    text-align: center;
    margin: 20px 0 10px 0px;
    font-family: raleway;
    font-weight: 800;
    font-size: 22px;
  }

  .footer img {
    width: auto;
    height: 100px;
    margin: 15px;
  }

  /** SOBRE NOSOTROS **/
  .nosotrosintro p {
    display: none;
  }

  .nosotrosintro {
    height: 200px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  /** NUESTRO MENU **/
  .cafetransparente {
    height: 80px;
    width: auto;
  }

  .section3 {
    padding: 0px;
  }

  .section3 div {
    margin: 10px 5px 10px 5px;
  }

  .section3 div img {
    width: auto;
    height: 100px;
  }

  .section3 div button {
    padding: 5px 10px 5px 10px;
  }

  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  /** TIENDA **/
  .catalogo div {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .catalogo div div {
    width: 280px;
    height: 360px;
  }
  .catalogo div img {
    width: 250px;
    height: auto;
  }
}
